.home-container {
    text-align: center;
    padding: 20px;
    background-color: #3c9398;
    min-height: 100vh;
  }
  
  .cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  