/* src/styles/MisPedidos.css */
.mis-pedidos-container {
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  